:root {
    --fade-time: 1.75s;
    --slide-time: 2s; 
    --slide-in-start: -100%;
    --f: 'Arial', sans-serif;

}

body {
    background-color: black;
  }
  .fade-in-text {
  font-family:var(--f);
  font-size: 48px;
  animation: fadeIn var(--fade-time);
  -webkit-animation: fadeIn var(--fade-time);
  -moz-animation: fadeIn var(--fade-time);
  -o-animation: fadeIn var(--fade-time);
  -ms-animation: fadeIn var(--fade-time);
  }

  .slide-down-text {
    font-family: var(--f);
    animation: slideDown var(--slide-time);
    -webkit-animation: slideDown var(--slide-time);
    -moz-animation: slideDown var(--slide-time);
    -o-animation: slideDown var(--slide-time);
    -ms-animation: slideDown var(--slide-time);
  }

  .center {
    margin: auto;
    text-align: center;
  }
  .centersides {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }

  .Header1 {
    font-family: var(--f);
    font-size: 32px;
    padding: 4px;
  }
  
  .wordso {
    text-align: center;
   }

  #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


@keyframes slideDown {
    0% {transform: translateY(var(--slide-in-start)); }
    100% {transform: translateY(0); }
  }
  
    @-moz-keyframes slideDown {
    0% {transform: translateY(var(--slide-in-start)); }
    100% {transform: translateY(0); }
    }

    @-webkit-keyframes slideDown {
        0% {transform: translateY(var(--slide-in-start)); }
        100% {transform: translateY(0); }
    }

    @-o-keyframes slideDown {
        0% {transform: translateY(var(--slide-in-start)); }
        100% {transform: translateY(0); }
    }

    @-ms-keyframes slideDown {
        0% {transform: translateY(var(--slide-in-start)); }
        100% {transform: translateY(0); }
    }